@(temas: List[Tema])

@main("Home") {
	
        <ul class="nav nav-pills">
          <li class="active"><a href="/"">Home</a></li>
        </ul>

          
        <div class="container form-horizontal panel panel-primary text-info" >
        
        <center><h2><b>Temas</b></h2></center>

        	@for(tema <- temas){

        		<ul class="lista list-group">			    				
			    	  <li class="list-group-item"><a href="@routes.Application.dicasTema(tema.getId)">@tema.getNome()</a></li>
                </ul>

		    }
		
        </div>       
        
}
